In [8]:
people = {
    'First':['Corey','Jane','Joe','Adam'],
    'Last':['Schafer','Doe','Doe','Doe'],
    'Email':['CoreySchafergmail.com','JaneDoe@gmail.com','JohnDoe@gmail.com','Adam@gmail.com']
}

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame(people)
df

   First     Last                  Email
0  Corey  Schafer  CoreySchafergmail.com
1   Jane      Doe      JaneDoe@gmail.com
2    Joe      Doe      JohnDoe@gmail.com
3   Adam      Doe         Adam@gmail.com

In [11]:
# how to sort single column using pandas
df.sort_values(by='Last')

   First     Last                  Email
1   Jane      Doe      JaneDoe@gmail.com
2    Joe      Doe      JohnDoe@gmail.com
3   Adam      Doe         Adam@gmail.com
0  Corey  Schafer  CoreySchafergmail.com

In [12]:
# how to sort multiple column using pandas
df.sort_values(by=['Last','First'],ascending=False)
df

   First     Last                  Email
0  Corey  Schafer  CoreySchafergmail.com
1   Jane      Doe      JaneDoe@gmail.com
2    Joe      Doe      JohnDoe@gmail.com
3   Adam      Doe         Adam@gmail.com

In [13]:
df.sort_values(by=['Last','First'],ascending=[False,True],inplace=True)
df

   First     Last                  Email
0  Corey  Schafer  CoreySchafergmail.com
3   Adam      Doe         Adam@gmail.com
1   Jane      Doe      JaneDoe@gmail.com
2    Joe      Doe      JohnDoe@gmail.com

In [14]:
# index sorting
df.sort_index()

   First     Last                  Email
0  Corey  Schafer  CoreySchafergmail.com
1   Jane      Doe      JaneDoe@gmail.com
2    Joe      Doe      JohnDoe@gmail.com
3   Adam      Doe         Adam@gmail.com

In [16]:
# alternate way ot sort column
df['First'].sort_values()

3     Adam
0    Corey
1     Jane
2      Joe
Name: First, dtype: object